.product-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: start;
  align-items: center;
}

.product-description-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-description-image {
  width: 100%; /* 모바일 화면에서는 가로를 꽉 차게 */
}

/* md 이상의 화면 크기에서는 maxWidth를 1000px로 설정 */
@media (min-width: 768px) {
  .product-description-image {
    max-width: 1000px;
    min-width: 800px;
  }
}
